
.max{
  background-image: url(/home/emmah/Moringa-school/Anita-kitchen/img/landing.jpg);
}
.max{
  text-align: center;
}

.max p{
  color: white;
}


.conta {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px
}
.breakfast{
  background-image: url(/home/emmah/Moringa-school/Anita-kitchen/img/foodtop/breakfast.jpg);
}
.lunch{
  background-image: url(/home/emmah/Moringa-school/Anita-kitchen/img/foodtop/lunch.jpg);
}
.dinner{
  background-image: url(/home/emmah/Moringa-school/Anita-kitchen/img/foodtop/dinner.jpg);
  }
 .breakfast{
   padding-bottom: 150px
 }
 .lunch{
   padding-bottom: 150px
 }
 .dinner{
   padding-bottom: 150px
 }
.Happy{
padding-bottom: 55px
}
.party{
  padding-bottom: 55px;
  background-color: orange
}
.emm{
  display: inline;
  position: relative;
  width: 25px;
  top: 210;
}
.foodsBg{
  background-image: url(/home/emmah/Moringa-school/Anita-kitchen/img/foodsBg.jpg);
}
.footer{
  text-align: center;
  }
.email{
  padding-bottom: 150px
}
.footer{
  background-image: url(/home/emmah/Moringa-school/Anita-kitchen/img/landing.jpg);
}
.footer{
  color: white
}
